body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.center {
    position: relative;
    top: 200px;
    left: 40%;
}


.calc-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: lightblue;
    width: 325px;
    height: 500px;
}

.screen-display {
    background-color: #f1f1f1;
    width: 325px;
    height: 75px; 
    border: 1px solid;
    direction: rtl;
}

.keys {
    background-color: #f1f1f1;
    width: 70px; 
    height: 60px;
    text-align: center;
    border: solid 1px;
    cursor: pointer;
}